<br/>
	
	<div class="ui menu">  
	  <div class="item header">
		Head Count As of - {{::syshealthCtrl.timestamp}} is {{::syshealthCtrl.hdcnt}}
	  </div>
	 
	
</div>

<div class="ui segment">

	<div class="ui divider"></div>
	<div class="ui menu"> 
	<div class="item field">
BU :&nbsp&nbsp<select><option value="BU">Manlog</option></select>
	</div>
			<div class="item field">
Location :&nbsp&nbsp<select><option value="Location">Chennai</option></select>
	</div>
	<div class="item field">
 Focus Area :&nbsp&nbsp<select><option value="Focus">Sports</option></select>
	</div>
			<div class="item field">
Time Period :&nbsp&nbsp<select><option value="Time">12:00</option></select>
	</div>
		
			</div>
			<div class="ui divider"></div>
				<canvas id="processWiseChart"></canvas>
				
	</div>			

